<form enctype="multipart/form-data"
      th:action="@{/}"
      th:object="${users}"
      method="post"
      class="needs-validation"
      novalidate>
    <label for="firstname">Пошта:</label><br>
    <input th:field="*{gmail}"
    type="text" class="form-control"
           id="firstname" name="firstname"
           required><br>
   <!-- <small class="text-danger" th:if="${#fields.hasErrors('firstname')}" th:errors="*{gmail}"/><br>!-->
    <label for="lname">Пароль:</label><br>
    <input type="text" id="lname" name="lname"
           th:field="*{password}"
           required><br>
    <label for="patronymic">Прізвищe:</label><br>
    <input type="text" id="patronymic" name="patronymic"
           th:field="*{surname}"
           required><br>
    <label for="email">Ім'я:</label><br>
    <input type="email" id="email" name="email"
           th:field="*{name}"
           required><br>
    <label for="adress">Номер телефону:</label><br>
    <input type="text" id="adress" name="adress"
           th:field="*{phone_number}"
           required><br><br>
    <input type="submit" value="Додати студента">
</form>