<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Actor to Movie</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Дополнительные стили */
        body {
            padding: 20px;
        }
    </style>
</head>
<body>
<h2>Add Actor to Movie</h2>
<form enctype="multipart/form-data"
      th:action="@{/CrewMember/CrewMemberOnPlayFilm}"
      method="post"
      class="needs-validation"
      novalidate>
    <div class="form-group">
        <label for="crewMemberId">Crew Member ID:</label>
        <input type="text" class="form-control" id="crewMemberId" name="crewMemberId">
    </div>
    <div class="form-group">
        <label for="movieId">Movie ID:</label>
        <input type="text" class="form-control" id="movieId" name="movieId">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- Таблица с актерами -->
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">CrewMember ID</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Salary Per Hour</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="crewMember : ${crewMember}">
        <td><span th:text="${crewMember.crewMember_id}" /></td>
        <td><span th:text="${crewMember.name}" /></td>
        <td><span th:text="${crewMember.surName}" /></td>
        <td><span th:text="${crewMember.salaryPerHours}" /></td>
    </tr>
    </tbody>
</table>
</body>
</html>
