<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Information</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h2 {
            margin-bottom: 10px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        .align-middle {
            vertical-align: middle;
        }
    </style>
</head>
<body>
<h2>Movie Information</h2>
<h3>Movie Details</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Genre</th>
        <th>Date Time Created</th>
    </tr>
    <tr th:each="movies : ${film}">
        <td class="align-middle"><span th:text="${movies.id}" /></td>
        <td class="align-middle"><span th:text="${movies.title}" /></td>
        <td class="align-middle"><span th:text="${movies.description}" /></td>
        <td class="align-middle"><span th:text="${movies.genre}" /></td>
        <td class="align-middle"><span th:text="${movies.dateTimeCreated}" /></td>
    </tr>
</table>

<h3>Financial Details</h3>
<table>
    <tr>
        <th>Budget</th>
        <th>Actors Salary</th>
        <th>Crew Salary</th>
        <th>Advertising Cost</th>
        <th>Editing Cost</th>
        <th>Equipment Cost</th>
    </tr>
    <tr th:each="finances : ${finances}">
        <td class="align-middle"><span th:text="${finances.budget}" /></td>
        <td class="align-middle"><span th:text="${finances.actorsSalary}" /></td>
        <td class="align-middle"><span th:text="${finances.crewSalary}" /></td>
        <td class="align-middle"><span th:text="${finances.advertisingCost}" /></td>
        <td class="align-middle"><span th:text="${finances.editingCost}" /></td>
        <td class="align-middle"><span th:text="${finances.equipmentCost}" /></td>
    </tr>
</table>

<h3>Script</h3>
<table>
    <tr>
        <th>Content</th>
    </tr>
    <tr th:each="script : ${script}">
        <td class="align-middle"><span th:text="${script.content}" /></td>
    </tr>
</table>

<h3>Shooting Days</h3>
<table>
    <tr>
        <th>Shooting Date</th>
        <th>Shooting Time</th>
        <th>Shooting Location</th>
        <th>Estimated Duration Hours</th>
    </tr>
    <tr th:each="shootingDays : ${shootingDays}">
        <td class="align-middle"><span th:text="${shootingDays.shootingDate}" /></td>
        <td class="align-middle"><span th:text="${shootingDays.shootingTime}" /></td>
        <td class="align-middle"><span th:text="${shootingDays.shootingLocation}" /></td>
        <td class="align-middle"><span th:text="${shootingDays.estimatedDurationHours}" /></td>
    </tr>
</table>

<h3>Актерский состав</h3>
<table>
    <tr>
        <th>Имя актера</th>
        <th>Фамилия актера</th>
        <th>Рейтинг</th>
        <th>Зароботная плата за час</th>
    </tr>
    <tr th:each="actors : ${actors}">
        <td class="align-middle"><span th:text="${actors.name}" /></td>
        <td class="align-middle"><span th:text="${actors.surName}" /></td>
        <td class="align-middle"><span th:text="${actors.rating}" /></td>
        <td class="align-middle"><span th:text="${actors.salaryPerHour}" /></td>
    </tr>
</table>


<h3>Члены сьемочной группы</h3>
<table>
    <tr>
        <th>Имя актера</th>
        <th>Фамилия актера</th>
        <th>Зароботная плата за час</th>
    </tr>
    <tr th:each="crewMembers : ${crewMembers}">
        <td class="align-middle"><span th:text="${crewMembers.name}" /></td>
        <td class="align-middle"><span th:text="${crewMembers.surName}" /></td>
        <td class="align-middle"><span th:text="${crewMembers.salaryPerHours}" /></td>
    </tr>
</table>

</body>
</html>
